{% extends "layouts/default.html" %}

{% block content %}
	<div class="container">
		<div class="jumbotron">
			<h1>Ben Furber</h1>
			<p>
				Hi, I'm a former product manager who’s done loads in digital other than the most important and difficult bit - so I’m learning to code with Makers Academy and then restarting my career as a software developer.
			</p>
			<p>
				I started out as a website designer before moving more into website management, I then founding a startup that received seed funding before ending up as website product owner for a large health charity.
			</p>

			<hr/>

			<h3>Welcome!</h3>
			<p>
				I'm going to make this interesting over the next few weeks. In the meantime, please <a href="https://github.com/benfurber/CV">have a read of my CV on Github</a> and <a href="https://medium.com/@benfurber/so-finally-im-going-to-be-a-developer-32b678e59126">my article about why I'm learning to be a developer</a>.
			</p>

			<hr/>

		</div>
	</div>
{% endblock %}
