@import url("https://fonts.googleapis.com/css?family=Patua+One");

$blue: #232a3b;
$dark-blue: #11141d;
$gold: #c4a86e;
$gray: #333;
$white: #fff;
$white-transparent: rgba(255, 255, 255, 0.8);

$small: 4px;
$medium: 8px;
$large: 12px;
$xlarge: 18px;
$xxlarge: 32px;

body {
  background: url("/images/background.png") repeat fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  text-shadow: 2px 2px #fff;
}

h2 {
  border-bottom: $small solid $gray;
  padding-bottom: $small;
  margin-bottom: $xlarge;
}

.header-title-container {
  background: $blue;
  margin: $large $large 0 $large;
  padding: $xxlarge 0 $xxlarge + $medium 0;
}

.header-title {
  border-bottom: $dark-blue $medium solid;
  color: $white;
  display: inline-block;
  padding: $large $xxlarge $large $small;

  h1 {
    color: $white;
    font-weight: normal;
    margin-top: $large;
  }
}

.GiftPage {
  font-size: 1.15em;
}

.GiftIntroContent {
  padding-bottom: 2em;

  h2 {
    border-top: 6px solid #000;
    border-bottom: 6px solid #000;
    display: inline-block;
    font-size: 3em;
  }
}

.GiftSection {
  margin: 2em 0 2em 2em;
  padding: 4em;

  h3 {
    font-size: 2em;
  }
}

.GiftSectionMenu {
  background: url("/images/background-blue.png") $blue repeat fixed;
}

.GiftSection-even {
  background: rgba(35, 42, 59, 0.15);
  border-top: $blue solid 4px;
}

.GiftSection-odd {
  background: rgba(196, 168, 110, 0.15);
  border-top: $gold solid 4px;
}

.HalfWhiteBackground {
  background: rgba(255, 255, 255, 0.5);
}

.BorderedListItem {
  p {
    border-bottom: $gold solid 2px;
    color: $gray;
    font-style: italic;
    margin-bottom: 1.5em;
    padding-bottom: 0.3em;
  }
}

.ContentsListItem {
  p {
    margin-bottom: 1.5em;
    padding-bottom: 0.3em;

    a {
      border-bottom: rgba(255, 255, 255, 0.6) solid 2px;
      color: rgba(255, 255, 255, 0.6);
      display: block;
      font-style: italic;
      margin-bottom: 0.5em;

      &:hover {
        border-color: $white;
        color: $white;
      }
    }
  }
}

.ContainerBordered {
  .ContainerBorderedBody {
    padding: 0 2em;
  }

  h4 {
    border-bottom: $blue solid 4px;
    font-size: 1.6em;
    margin-bottom: 1.5em;
    padding-bottom: 0.3em;
  }

  $borderColour: $gold;
  $boderWidth: 8px;
  $borderStyle: solid;

  .border {
    width: 40px;
    height: 40px;
    display: block;
  }

  .borderRow {
    display: block;
    height: 40px;
    width: 100%;
  }

  .borderTopLeft {
    float: left;

    div {
      box-shadow: 4px 4px 0 0 #fff;
    }

    .top {
      background: $borderColour;
      width: 40px;
      height: $boderWidth;
    }

    .left {
      background: $borderColour;
      width: $boderWidth;
      height: 36px;
    }
  }

  .borderTopRight {
    float: right;

    div {
      box-shadow: -4px 4px 0 0 #fff;
    }

    .top {
      background: $borderColour;
      width: 40px;
      height: $boderWidth;
    }

    .right {
      background: $borderColour;
      width: $boderWidth;
      height: 36px;
      float: right;
    }
  }

  .borderBottomLeft {
    float: left;

    div {
      box-shadow: 4px -4px 0 0 #fff;
    }

    .left {
      background: $borderColour;
      width: $boderWidth;
      height: 36px;
      float: left;
    }

    .bottom {
      background: $borderColour;
      width: 40px;
      height: $boderWidth;
      margin-top: 36px;
    }
  }

  .borderBottomRight {
    float: right;

    div {
      box-shadow: -4px -4px 0 0 #fff;
    }

    .right {
      background: $borderColour;
      width: $boderWidth;
      height: 36px;
      float: right;
    }

    .bottom {
      background: $borderColour;
      width: 40px;
      height: $boderWidth;
      margin-top: 36px;
    }
  }
}

.Header {
  margin-bottom: 2em;
}

.nav-wrapper {
  background-color: $dark-blue;
  margin: 0 $xxlarge 0 $xxlarge;
  top: -$large;
  position: relative;
}

.nav-container {
  padding: 1em 0;
}

.nav-list {
  display: flex;
}

@media screen and (max-width: 720px) {
  .icon-text {
    display: none;
  }
  
}

.Number {
  font-family: "Patua One", sans-serif;
  font-size: 2em;
  font-style: normal;
  padding-right: 0.5em;
}

.nav-icon {
  align-items: baseline;
  color: $white-transparent;
  display: flex;
  font-family: "Patua One", sans-serif;
  margin-right: 2em;
  padding: 0 1em 0.5em 0;
  border-bottom: solid $white-transparent 4px;

  &:hover {
    border-color: $white;
    color: $white;
  }
}

.selected {
  border-color: $gold;
  color: $white;

  &:hover {
    border-color: $gold;
  }
}

.WishListLink {
  background: $blue;
  box-shadow: 5px 5px 0 0 #fff;
  color: #fff;
  display: inline-block;
  font-family: "Patua One", sans-serif;
  margin: 0 1em 1em 1em;
  padding: 1.5em 2em;

  &:hover {
    box-shadow: 5px 5px 0 0 $gold;
    color: $gold;
    text-decoration: underline;
  }
}
